.input-area
{
    border-radius: 1.2vmin;
    box-shadow: .1vmin .1vmin 4vmin .2vmin rgba(0, 0, 0, 0.363);
    margin: 2vmin;
    margin-top: 6vmin;
    margin-bottom: 3vmin;
    width:70vmin;
    height:9vmin;
    display: flex;
    justify-content: space-between;

}
.input-text
{
    width: 90%;
    height:100%;
    border: 0;
    padding: 1.75vmin;
    font-size: 3vmin;
    color: rgb(32, 32, 32);
    border-radius: 1.2vmin 0 0 1.2vmin;
    transition: all .3s;

}
.btn
{
    width:20%;
    height:100%;
    border: 0;
    border-radius: 0 1.2vmin 1.2vmin 0;
    padding: 1vmin;
    background-color: rgb(255, 255, 255);
    font-size:3vmin;
    color:green;
    cursor: pointer;
    transition: all .3s;

}
.input-text:focus
{
    outline: 0;
}
.btn:hover
{
    background-color: rgba(0, 184, 0, 0.678);
    color: white;
}
.list
{
    width: 70vmin;
    display: grid;
    grid-gap: 3vmin;
    grid-template-rows: 10vmin;
    grid-auto-rows: 10vmin;
    
}

.remove-all
{
    border: 0;
    border-radius: 1.5vmin;
    margin-top: 4vmin;
    height:8vmin;
    width: 70vmin;
    padding: 2vmin;
    font-size: 3vmin;
    transition: all .3s;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: .2vmin .2vmin 3vmin .5vmin rgba(0, 0, 0, 0.466);
    background: linear-gradient(153deg,rgb(237, 13, 13),rgb(149, 44, 116));
}
.list-item
{
    display: flex;
    background-color: aliceblue;
    box-shadow: .25vmin .25vmin 4vmin 1.2vmin rgba(0, 0, 0, 0.315);
    max-width: 70vmin;
    
}
.task
{
    font-size: 5vmin;
    color:rgb(68, 68, 68);
    display: flex;
    padding-left: 1.25vmin;
    align-items: center;
    width:75%;
    border: 2vmin;
    height: 100%;
    overflow-y: auto;
    white-space: nowrap;
}
.task::-webkit-scrollbar
{
    height: .6vmin;
    background-color: rgb(0, 248, 165);
}
.list-icons
{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.check-section
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.check-icon,.check-icon-complete
{
    cursor: pointer;
    border-radius: 5vmin;
    height: 50%;
    width: 60%;
    border: .3vmin solid green;
    transition: all .3s;

}
.check-icon-complete
{
    transform: rotateY(180deg);
    background-color: green;

}
.delete-icon
{
    cursor: pointer;
    color:rgb(128, 6, 6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    width: 50%;
    transition: all .3s;
}
.delete-icon:hover
{
    color: rgb(255, 0, 0);
}
.remove-all:hover
{
    box-shadow: .2vmin .2vmin 3vmin .5vmin rgba(207, 92, 92, 0.733);
    transform: scale(1.02,1.02);
}



